page-home {

    .card {
        border-radius: 15px;
        margin-top: 25px;
    }

    .card-header {
        background-color: color($colors, light);
    }

    .graph {
        height: 40%;
    }

}
